        .u-section-2 .u-sheet-1 {
                min-height: 759px
        }

        .u-section-2 .u-text-1 {
                width: 513px;
                font-family: "Archivo Black";
                margin: 60px auto 0
        }

        .u-section-2 .u-list-1 {
                min-height: 511px;
                grid-template-columns: repeat(4, calc(25% - 23px));
                grid-template-rows: repeat(1, auto);
                height: auto;
                grid-gap: 30px;
                margin: 34px auto 0 0
        }

        .u-section-2 .u-list-item-1 {
                background-size: auto
        }

        .u-section-2 .u-container-layout-1 {
                padding: 0 0 30px
        }

        .u-section-2 .u-image-1 {
                height: 318px;
                margin: 0 auto 0 0
        }

        .u-section-2 .u-group-1 {
                min-height: 163px;
                height: auto;
                margin: 0 auto 0 0
        }

        .u-section-2 .u-container-layout-2 {
                padding: 30px 20px 0
        }

        .u-section-2 .u-text-2 {
                margin: 0
        }

        .u-section-2 .u-text-3 {
                font-weight: 700;
                width: 97px;
                margin: 20px auto 0
        }

        .u-section-2 .u-btn-1 {
                text-transform: uppercase;
                font-size: 0.875rem;
                border-style: none;
                font-weight: 700;
                height: 22px;
                margin: 20px auto 0;
                padding: 0
        }

        .u-section-2 .u-list-item-2 {
                background-size: auto
        }

        .u-section-2 .u-container-layout-3 {
                padding: 0 0 30px
        }

        .u-section-2 .u-image-2 {
                height: 318px;
                margin: 0 auto 0 0
        }

        .u-section-2 .u-group-2 {
                min-height: 163px;
                background-size: auto;
                height: auto;
                margin: 0 auto 0 0
        }

        .u-section-2 .u-container-layout-4 {
                padding: 30px 20px 0
        }

        .u-section-2 .u-text-4 {
                margin: 0
        }

        .u-section-2 .u-text-5 {
                font-weight: 700;
                width: 97px;
                margin: 20px auto 0
        }

        .u-section-2 .u-btn-2 {
                text-transform: uppercase;
                font-size: 0.875rem;
                border-style: none;
                font-weight: 700;
                height: 22px;
                margin: 20px auto 0;
                padding: 0
        }

        .u-section-2 .u-list-item-3 {
                background-size: auto
        }

        .u-section-2 .u-container-layout-5 {
                padding: 0 0 30px
        }

        .u-section-2 .u-image-3 {
                height: 318px;
                margin: 0 auto 0 0
        }

        .u-section-2 .u-group-3 {
                min-height: 163px;
                background-size: auto;
                height: auto;
                margin: 0 auto 0 0
        }

        .u-section-2 .u-container-layout-6 {
                padding: 30px 20px 0
        }

        .u-section-2 .u-text-6 {
                margin: 0
        }

        .u-section-2 .u-text-7 {
                font-weight: 700;
                width: 97px;
                margin: 20px auto 0
        }

        .u-section-2 .u-btn-3 {
                text-transform: uppercase;
                font-size: 0.875rem;
                border-style: none;
                font-weight: 700;
                height: 22px;
                margin: 20px auto 0;
                padding: 0
        }

        .u-section-2 .u-list-item-4 {
                background-size: auto
        }

        .u-section-2 .u-container-layout-7 {
                padding: 0 0 30px
        }

        .u-section-2 .u-image-4 {
                height: 318px;
                margin: 0 auto 0 0
        }

        .u-section-2 .u-group-4 {
                min-height: 163px;
                background-size: auto;
                height: auto;
                margin: 0 auto 0 0
        }

        .u-section-2 .u-container-layout-8 {
                padding: 30px 20px 0
        }

        .u-section-2 .u-text-8 {
                margin: 0
        }

        .u-section-2 .u-text-9 {
                font-weight: 700;
                width: 97px;
                margin: 20px auto 0
        }

        .u-section-2 .u-btn-4 {
                text-transform: uppercase;
                font-size: 0.875rem;
                border-style: none;
                font-weight: 700;
                height: 22px;
                margin: 20px auto 0;
                padding: 0
        }

        .u-section-2 .u-text-10 {
                margin: 30px auto 60px
        }

        @media (max-width: 1199px) {
                .u-section-2 .u-sheet-1 {
                        min-height: 674px
                }

                .u-section-2 .u-list-1 {
                        min-height: 421px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-image-1 {
                        height: 262px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-group-1 {
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-image-2 {
                        height: 262px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-group-2 {
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-image-3 {
                        height: 262px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-group-3 {
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-image-4 {
                        height: 262px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-group-4 {
                        margin-right: initial;
                        margin-left: initial
                }
        }

        @media (max-width: 991px) {
                .u-section-2 .u-sheet-1 {
                        min-height: 1574px
                }

                .u-section-2 .u-list-1 {
                        min-height: 1290px;
                        grid-template-columns: repeat(2, calc(((100% - 720px) / 2) + 345px));
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-container-layout-1 {
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0
                }

                .u-section-2 .u-image-1 {
                        height: 401px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-container-layout-3 {
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0
                }

                .u-section-2 .u-image-2 {
                        height: 401px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-container-layout-5 {
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0
                }

                .u-section-2 .u-image-3 {
                        height: 401px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-container-layout-7 {
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0
                }

                .u-section-2 .u-image-4 {
                        height: 401px;
                        margin-right: initial;
                        margin-left: initial
                }
        }

        @media (max-width: 767px) {
                .u-section-2 .u-sheet-1 {
                        min-height: 1406px
                }

                .u-section-2 .u-list-1 {
                        min-height: 1154px;
                        grid-template-columns: repeat(2, calc(((100% - 540px) / 2) + 255px));
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-image-1 {
                        height: 369px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-container-layout-2 {
                        padding-right: 10px;
                        padding-left: 10px
                }

                .u-section-2 .u-image-2 {
                        height: 369px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-container-layout-4 {
                        padding-right: 10px;
                        padding-left: 10px
                }

                .u-section-2 .u-image-3 {
                        height: 369px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-container-layout-6 {
                        padding-right: 10px;
                        padding-left: 10px
                }

                .u-section-2 .u-image-4 {
                        height: 369px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-container-layout-8 {
                        padding-right: 10px;
                        padding-left: 10px
                }

                .u-section-2 .u-text-10 {
                        width: auto;
                        margin-top: 34px
                }
        }

        @media (max-width: 575px) {
                .u-section-2 .u-text-1 {
                        width: 340px
                }

                .u-section-2 .u-list-1 {
                        grid-template-columns: 100%;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-image-1 {
                        height: 379px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-image-2 {
                        height: 379px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-image-3 {
                        height: 379px;
                        margin-right: initial;
                        margin-left: initial
                }

                .u-section-2 .u-image-4 {
                        height: 379px;
                        margin-right: initial;
                        margin-left: initial
                }
        }