{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">{{ title }}</h1>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="container">

  <div class="product-card "> 
    <a class="product-image" href="/images/white-24260.webp">
      <div class="labels"></div> 
      <img src="/static/images/white-24260.webp"
        class="lazy init" data-original="/static/images/white-24260.webp"
        alt="{{ product.title }}">
    </a>
    <b><p class="product-name">{{ product.title }}</p></b>
    <div class="cost left-column"> 
      <span class="cost-value">{{ product.price }}</span> euro
    </div>
    <div class="model-inlist">Articul: {{ product.articul }}</div>
    <p>{{ item.description }}</p>
    <a href="/buy/{{product.id}}" class="w-20 btn btn-lg btn-outline-primary">Add to order</a>
  </div>

</div>
{% endblock %}

